* {
    box-sizing: border-box;
}

.anim {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 0;
}

.svg {
    fill: none;
    stroke: $highlight1;
    position: absolute;
    bottom: -100vh;
    transform-style: preserve-3d;
    overflow: visible;
}

$total: 10;
@for $i from 1 through $total {
    $scale: random(2) - 0.4;
    .svg:nth-child(#{$i}) {
        left: random(120) * 1% - 20;
        animation: raise#{$i} 6 + random(15) + s linear infinite;
        animation-delay: random(5) - 5 + s;
        transform: scale(0.3 * $i - 0.6) rotate(random(360) + deg);
        z-index: 0;
        filter: blur($i - 6 + px);
        @keyframes raise#{$i} {
            to {
                bottom: 150vh;
                transform: scale(0.3 * $i - 0.6) rotate(random(360) + deg);
            }
        }
    }
}

@keyframes animFleche {
    0% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes animLiens{
    0% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes animSection {
    0% {
        transform: translateY(700px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes animDetails {
    0% {
        transform: translateY(-700px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes animHeadProjet {
    0% {
        transform: translateY(-700px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
