#boutonMobile {
    display: none;
    z-index: 1000;
    color: $highlight1;
    transition: transform 0.5s ease;
    font-size: 3em;
    @include breakpoint(tablet) {
        display: flex;
    }
    @include breakpoint(mobile) {
        display: flex;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: $fond;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-evenly;
    i {
        font-size: 3em;
        color: $highlight1;
        margin-left: 10%;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        width: 100%;
        align-items: center;
        height: 40%;
        justify-content: space-around;
        font-family: $rightous;
        z-index: 1000;
        flex-flow: column;
        a {
            font-size: 3em;
            font-weight: 800;
            color: $highlight1;
            text-decoration: none;
            &:hover {
                cursor: pointer;
            }

            @include breakpoint(mobile) {
                font-size: 2em;
            }
        }

        .active {
            font-size: 3em;
            font-weight: 800;
            color: $highlight2;

            &:hover {
                cursor: pointer;
            }

            @include breakpoint(mobile) {
                font-size: 2em;
            }
        }
    }

    .linksFooter {
        flex-flow: row;
        height: fit-content;
        justify-content: center;
        i {
            font-size: 1em;
            margin: 10px;
        }
    }
}
