#tri {
    z-index: 1000;
    display: flex;
    flex-flow: column;
    width: 80%;
    margin-bottom: 30px;
    font-family: $nunito;
    color: $highlight1;
    margin-left: 5px;

    @include breakpoint(tablet) {
        width: 100%;
    }

    @include breakpoint(mobile) {
        width: 100%;
    }

    .border {
        height: 5px;
        width: 40%;
        border-radius: 10px;
        background: $highlight2;
        margin-top: 5px;

        @include breakpoint(tablet) {
            width: 100%;
        }

        @include breakpoint(mobile) {
            width: 100%;
        }

        @include breakpoint(laptop) {
            width: 50%;
        }
    }

    ul {
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-flow: row;
        width: 40%;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;

        @include breakpoint(tablet) {
            width: 100%;
        }

        @include breakpoint(mobile) {
            width: 100%;
            flex-flow: column;
            align-items: flex-start;
        }

        @include breakpoint(laptop) {
            width: 50%;
        }

        li {
            font-size: 1em;
            font-weight: 800;
            position: relative;
            display: inline-block;
            color: $colorTxt;
            overflow: hidden;
            background: linear-gradient(to right, $highlight2, $highlight2 50%, $highlight1 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position 275ms ease;
            text-decoration: none;

            &:hover {
                color: $highlight1;
                background-position: 0 100%;
                cursor: pointer;
            }

            @include breakpoint(mobile) {
                padding-bottom: 5%;
                font-size: 1.2em;
            }
        }

        .active {
            color: $highlight2;
            font-size: 1em;
            font-weight: 800;

            @include breakpoint(desktop) {
                position: relative;
                display: inline-block;
                color: $highlight1;
                overflow: hidden;
                background: linear-gradient(to right, $highlight1, $highlight1 50%, $highlight2 50%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 100%;
                background-position: -100%;
                transition: background-position 275ms ease;
                text-decoration: none;

                &:hover {
                    background-position: 0 100%;
                    cursor: pointer;
                }
            }

            @include breakpoint(laptop) {
                position: relative;
                display: inline-block;
                color: $highlight1;
                overflow: hidden;
                background: linear-gradient(to right, $highlight1, $highlight1 50%, $highlight2 50%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 100%;
                background-position: -100%;
                transition: background-position 275ms ease;
                text-decoration: none;

                &:hover {
                    background-position: 0 100%;
                    cursor: pointer;
                }
            }

            @include breakpoint(mobile) {
                padding-bottom: 5%;
                font-size: 1.2em;
            }
        }
    }
}