@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Righteous&display=swap");
[data-theme=darkMode] body {
  background: black;
}

html {
  scroll-behavior: smooth;
}
@media (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
}

body {
  background: #f7f7f7;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #7da2a9;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}

header {
  display: flex;
  width: 80%;
  margin: 40px auto;
  justify-content: space-between;
  z-index: 1000;
}
header .logoHead {
  margin-top: 0;
  width: 50px;
  z-index: 1000;
  background-image: url(../assets/logoGris.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease;
}
header .logoHead:hover {
  cursor: pointer;
  background-image: url(../assets/logoRose.png);
}
header #menuHead {
  z-index: 1000;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  header #menuHead {
    display: none;
  }
}
@media (max-width: 767px) {
  header #menuHead {
    display: none;
  }
}
header #menuHead ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
  font-family: "Righteous", cursive;
  z-index: 1000;
}
header #menuHead ul li {
  margin: 0 20px;
}
header #menuHead ul a {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 800;
  overflow: hidden;
  background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
header #menuHead ul a:hover {
  background-position: 0 100%;
  cursor: pointer;
}
header #menuHead ul h1 {
  color: red;
  margin: 0;
}
header #menuHead ul .active {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 800;
  color: #7da2a9;
  overflow: hidden;
  background: linear-gradient(to right, #7da2a9, #7da2a9 50%, #d48166 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: -100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
header #menuHead ul .active:hover {
  background-position: 0 100%;
  cursor: pointer;
}
header #menuHead ul .lang a::before {
  content: "•";
  margin-right: 5px;
}
header #menuHead .border {
  height: 5px;
  width: 95%;
  border-radius: 10px;
  background: #d48166;
}

footer {
  display: flex;
  background: black;
  color: #f7f7f7;
  flex-flow: column;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 0;
  width: 100%;
  height: 275px;
  align-items: center;
  justify-content: center;
  z-index: 250;
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer {
    height: 75px;
  }
}
@media (max-width: 767px) {
  footer {
    height: 75px;
  }
}
footer::after {
  content: "";
  position: absolute;
  top: -4px;
  background: #d48166;
  height: 8px;
  border-radius: 10px;
  width: 75%;
}
footer ul {
  padding: 0;
  list-style: none;
  display: flex;
  width: 75%;
  justify-content: space-around;
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer ul {
    display: none;
  }
}
@media (max-width: 767px) {
  footer ul {
    display: none;
  }
}
footer ul i {
  color: #d48166;
  font-size: 4em;
}
footer ul i:hover {
  color: #fff;
  animation: animLiens 0.5s ease infinite alternate-reverse;
}
footer section {
  text-align: center;
  font-family: "Righteous", cursive;
  font-size: 0.7em;
}
footer section h3 {
  margin-bottom: 0;
}
footer section h4 {
  margin-top: 0;
  margin-bottom: 0;
}

main {
  display: flex;
  height: 100%;
  flex-flow: column;
  align-items: center;
  width: 80%;
  margin: 100px auto;
  margin-bottom: 50px;
  animation: animSection 0.5s ease;
}
main .projets {
  width: 40%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .projets {
    width: 100%;
  }
}
@media (max-width: 767px) {
  main .projets {
    width: 100%;
  }
}
main .projets article {
  display: flex;
  flex-flow: column-reverse;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  min-height: 20vw;
  margin: 10px 5px 0px 5px;
  transition: filter 0.3s ease, border 0.3s ease;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .projets article {
    height: 50vw;
  }
}
@media (max-width: 767px) {
  main .projets article {
    height: 50vw;
  }
}
main .projets article:hover {
  cursor: pointer;
  filter: sepia(50%);
  border: 7px #d48166 solid;
}
main .projetNotActive {
  display: none;
}
main #listeProjets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  z-index: 1000;
}
main .detailsProjets {
  animation: animHeadProjet 0.5s ease;
  display: flex;
  flex-flow: column;
  width: 100%;
  z-index: 100;
  align-items: center;
  padding-top: 100px;
}
main .detailsProjets .headProjets {
  width: 65%;
  height: 35vw;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .headProjets {
    width: 100%;
    height: 50vw;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .headProjets {
    width: 100%;
    height: 50vw;
  }
}
main .detailsProjets .headProjets .retour {
  transform: translateY(-50px);
  color: black;
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 800;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
main .detailsProjets .headProjets .retour:hover {
  color: #7da2a9;
  background-position: 0 100%;
  cursor: pointer;
}
main .detailsProjets .headProjets .retour:hover i {
  animation: animFleche 0.5s ease infinite alternate-reverse;
  color: #7da2a9;
  background-position: 0 100%;
}
main .detailsProjets .headProjets .retour i {
  margin: 0 1em;
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
main .detailsProjets .nomProjet {
  display: flex;
  flex-flow: column;
  width: 65%;
  margin-top: 10px;
  font-family: "Righteous", cursive;
  color: #d48166;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .nomProjet {
    width: 100%;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .nomProjet {
    width: 100%;
  }
}
main .detailsProjets .nomProjet h1 {
  font-size: 3em;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .nomProjet h1 {
    font-size: 2em;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .nomProjet h1 {
    font-size: 1.5em;
  }
}
main .detailsProjets .nomProjet h4 {
  font-size: 1.5em;
  margin: 0;
}
main .detailsProjets .description {
  display: flex;
  width: 65%;
  justify-content: space-between;
  color: black;
  margin-top: 75px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .description {
    width: 100%;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .description {
    margin-top: 1em;
    width: 100%;
    flex-flow: column;
    align-items: center;
  }
}
main .detailsProjets .description .txtDescription {
  width: 50%;
  justify-self: right;
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
}
@media (max-width: 767px) {
  main .detailsProjets .description .txtDescription {
    width: 100%;
    font-size: 1em;
  }
}
main .detailsProjets .description h4 {
  font-family: "Righteous", cursive;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin: 0;
  width: 70%;
  color: #d48166;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .description h4 {
    font-size: 1.3em;
    width: 50%;
  }
}
main .detailsProjets .description .descHalf {
  width: 50%;
}
@media (max-width: 767px) {
  main .detailsProjets .description .descHalf {
    width: 100%;
  }
}
main .detailsProjets .description .descHalf .rolesLogi {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: space-between;
}
main .detailsProjets .description .descHalf .rolesLogi ul {
  margin: 0;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  padding: 0;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .description .descHalf .rolesLogi ul {
    width: 50%;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .description .descHalf .rolesLogi ul li {
    text-align: right;
    width: 100%;
  }
}
main .detailsProjets .divider {
  width: 40%;
  margin: 1rem auto 1rem auto;
  height: 5px;
  background: #d48166;
  border-radius: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .divider {
    width: 75%;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .divider {
    width: 75%;
  }
}
main .detailsProjets .liensProjets {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  color: black;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .liensProjets {
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .liensProjets {
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
  }
}
main .detailsProjets .liensProjets a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 800;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
main .detailsProjets .liensProjets a:hover {
  color: #7da2a9;
  background-position: 0 100%;
  cursor: pointer;
}
main .detailsProjets .liensProjets a:hover i {
  color: #7da2a9;
  animation: animLiens 0.5s ease infinite alternate-reverse;
  background-position: 0 100%;
}
main .detailsProjets .liensProjets a i {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 800;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
main .detailsProjets .retourProjets {
  margin-top: 100px;
}
main .detailsProjets .retourProjets h1 {
  margin: 0;
  display: flex;
  align-items: center;
  color: black;
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  position: relative;
  font-size: 1em;
  font-weight: 800;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
main .detailsProjets .retourProjets h1 i {
  margin: 0 1em;
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
main .detailsProjets .retourProjets h1:hover {
  color: #7da2a9;
  background-position: 0 100%;
  cursor: pointer;
}
main .detailsProjets .retourProjets h1:hover i {
  color: #7da2a9;
  animation: animFleche 0.5s ease infinite alternate-reverse;
  background-position: 0 100%;
}
main .detailsProjets .youtube {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}
main .detailsProjets .youtube iframe {
  border-radius: 10px;
  width: 65%;
  height: 40vw;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .youtube iframe {
    width: 100%;
    height: 50vw;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .youtube iframe {
    width: 100%;
    height: 50vw;
  }
}
main .detailsProjets .build {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .build {
    display: none;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .build {
    display: none;
  }
}
main .detailsProjets .build iframe {
  border-radius: 10px;
  width: 65%;
  height: 40vw;
  overflow: scroll;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .build iframe {
    width: 100%;
    height: 50vw;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .build iframe {
    width: 100%;
    height: 50vw;
  }
}
main .detailsProjets .nomCat {
  display: flex;
  flex-flow: column;
  width: 65%;
  margin-bottom: 1rem;
  font-family: "Righteous", cursive;
  color: #d48166;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .nomCat {
    width: 100%;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .nomCat {
    width: 100%;
  }
}
main .detailsProjets .nomCat h1 {
  font-size: 1.5em;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .nomCat h1 {
    font-size: 2em;
  }
}
main .detailsProjets .nomCat h4 {
  font-size: 1.5em;
  margin: 0;
}
main .detailsProjets .largeTxt {
  width: 65%;
}
main .detailsProjets .largeTxt p {
  font-family: "Nunito", sans-serif;
  width: 100%;
  font-size: 1.2em;
  margin: 1rem 0 1rem 0;
}
@media (max-width: 767px) {
  main .detailsProjets .largeTxt p {
    font-size: 1em;
  }
}
@media (max-width: 767px) {
  main .detailsProjets .largeTxt {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .largeTxt {
    width: 100%;
  }
}
main .detailsProjets .collab {
  width: 65%;
  margin-top: 1em;
}
main .detailsProjets .collab ul {
  margin: 0;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  padding: 0;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .detailsProjets .collab ul {
    width: 50%;
  }
}
main .detailsProjets .collab ul li {
  margin-top: 0.5em;
}
@media (max-width: 767px) {
  main .detailsProjets .collab ul li {
    text-align: right;
    width: 100%;
  }
}
main .detailsProjets .collab a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 800;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
main .detailsProjets .collab a:hover {
  color: #7da2a9;
  background-position: 0 100%;
  cursor: pointer;
}
main .detailsProjets .collab a:hover i {
  color: #7da2a9;
  animation: animLiens 0.5s ease infinite alternate-reverse;
  background-position: 0 100%;
}
main .detailsProjets .collab a i {
  margin-left: 0.5em;
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 800;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.sliders {
  width: 100%;
  display: contents;
}
.sliders .onlyOneSlider {
  flex-flow: column !important;
}
.sliders .onlyOneSlider img {
  max-width: 100% !important;
  max-height: 100% !important;
}
.sliders .onlyOneSlider .detailImg {
  width: 100% !important;
  margin-left: 0 !important;
  margin-top: 10px;
}
.sliders .onlyOneSlider .detailImg p {
  margin-top: 5px !important;
}
.sliders .hooper {
  height: 100%;
  display: flex;
  width: 65%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sliders .hooper {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .sliders .hooper {
    width: 100%;
    flex-flow: column;
  }
}
.sliders .hooper .hooper-slide {
  display: flex;
  flex-flow: column;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sliders .hooper .hooper-slide {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .sliders .hooper .hooper-slide {
    width: 100%;
    flex-flow: column;
  }
}
.sliders .hooper .hooper-slide img {
  max-width: 100%;
  border-radius: 10px;
  max-height: 100%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .sliders .hooper .hooper-slide img {
    max-height: -moz-max-content;
    max-height: max-content;
  }
}
@media (max-width: 767px) {
  .sliders .hooper .hooper-slide img {
    max-width: 100%;
    max-height: -moz-max-content;
    max-height: max-content;
  }
}
.sliders .hooper .hooper-slide img:hover {
  cursor: pointer;
}
.sliders .hooper .hooper-slide .detailImg {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: black;
  margin-top: 0.5em;
}
@media (max-width: 767px) {
  .sliders .hooper .hooper-slide .detailImg {
    width: 100%;
    margin-left: 0;
  }
}
.sliders .hooper .hooper-slide .detailImg h3 {
  margin: 0;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
  color: #d48166;
  font-size: 1.5em;
}
@media (max-width: 767px) {
  .sliders .hooper .hooper-slide .detailImg h3 {
    font-size: 1.2em;
  }
}
.sliders .hooper .hooper-slide .detailImg p {
  margin-top: 0.1em;
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
}
@media (max-width: 767px) {
  .sliders .hooper .hooper-slide .detailImg p {
    font-size: 1em;
  }
}
.sliders .hooper .hooper-list {
  margin-bottom: 1em;
}
.sliders .hooper1Container .oneSlider {
  transform: translateX(50%) !important;
}
@media (max-width: 767px) {
  .sliders .hooper1Container .hooper-pagination {
    justify-content: center;
    width: 100%;
    overflow: auto;
  }
}
.sliders .hooper1Container .hooper-pagination .hooper-indicator {
  height: 12px;
  width: 12px;
  border-radius: 10px;
  background: #7da2a9;
}
.sliders .hooper1Container .hooper-pagination .hooper-indicator:hover {
  background: #d48166;
}
.sliders .hooper1Container .hooper-pagination .is-active {
  background: #d48166;
}

.vel-icon {
  color: #d48166;
  font-size: 1.5em;
}

* {
  box-sizing: border-box;
}

.anim {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 0;
}

.svg {
  fill: none;
  stroke: #7da2a9;
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
  overflow: visible;
}

.svg:nth-child(1) {
  left: 96%;
  animation: raise1 20s linear infinite;
  animation-delay: -1s;
  transform: scale(-0.3) rotate(311deg);
  z-index: 0;
  filter: blur(-5px);
}
@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(302deg);
  }
}

.svg:nth-child(2) {
  left: 100%;
  animation: raise2 9s linear infinite;
  animation-delay: -3s;
  transform: scale(0) rotate(111deg);
  z-index: 0;
  filter: blur(-4px);
}
@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(214deg);
  }
}

.svg:nth-child(3) {
  left: 5%;
  animation: raise3 16s linear infinite;
  animation-delay: -4s;
  transform: scale(0.3) rotate(251deg);
  z-index: 0;
  filter: blur(-3px);
}
@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(295deg);
  }
}

.svg:nth-child(4) {
  left: 69%;
  animation: raise4 12s linear infinite;
  animation-delay: 0s;
  transform: scale(0.6) rotate(119deg);
  z-index: 0;
  filter: blur(-2px);
}
@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(222deg);
  }
}

.svg:nth-child(5) {
  left: -5%;
  animation: raise5 14s linear infinite;
  animation-delay: -3s;
  transform: scale(0.9) rotate(3deg);
  z-index: 0;
  filter: blur(-1px);
}
@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(57deg);
  }
}

.svg:nth-child(6) {
  left: 90%;
  animation: raise6 13s linear infinite;
  animation-delay: -4s;
  transform: scale(1.2) rotate(13deg);
  z-index: 0;
  filter: blur(0px);
}
@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(75deg);
  }
}

.svg:nth-child(7) {
  left: 48%;
  animation: raise7 13s linear infinite;
  animation-delay: -1s;
  transform: scale(1.5) rotate(318deg);
  z-index: 0;
  filter: blur(1px);
}
@keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(270deg);
  }
}

.svg:nth-child(8) {
  left: 27%;
  animation: raise8 16s linear infinite;
  animation-delay: -2s;
  transform: scale(1.8) rotate(87deg);
  z-index: 0;
  filter: blur(2px);
}
@keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(204deg);
  }
}

.svg:nth-child(9) {
  left: 52%;
  animation: raise9 16s linear infinite;
  animation-delay: -3s;
  transform: scale(2.1) rotate(114deg);
  z-index: 0;
  filter: blur(3px);
}
@keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(119deg);
  }
}

.svg:nth-child(10) {
  left: 89%;
  animation: raise10 17s linear infinite;
  animation-delay: -2s;
  transform: scale(2.4) rotate(78deg);
  z-index: 0;
  filter: blur(4px);
}
@keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(21deg);
  }
}

@keyframes animFleche {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes animLiens {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes animSection {
  0% {
    transform: translateY(700px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animDetails {
  0% {
    transform: translateY(-700px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animHeadProjet {
  0% {
    transform: translateY(-700px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
#moi {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 50px auto;
  z-index: 1000;
  animation: animSection 0.5s ease;
  padding: 10%;
}
@media (max-width: 767px) {
  #moi {
    flex-flow: column;
    align-items: center;
  }
}
#moi #moiImg {
  z-index: 1000;
  width: 25%;
  margin-right: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #moi #moiImg {
    width: 40%;
  }
}
@media (max-width: 767px) {
  #moi #moiImg {
    width: 100%;
  }
}
#moi #moiImg img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 767px) {
  #moi #moiImg img {
    flex-flow: column;
    align-items: center;
  }
}
#moi #moiTxt {
  width: 50%;
  color: black;
  z-index: 1000;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #moi #moiTxt {
    width: 40%;
  }
}
@media (max-width: 767px) {
  #moi #moiTxt {
    width: 100%;
  }
}
#moi #moiTxt h2 {
  font-family: "Righteous", cursive;
  margin-top: 0;
  letter-spacing: 2px;
  color: #d48166;
}
#moi #moiTxt p {
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
}
@media (max-width: 767px) {
  #moi #moiTxt p {
    font-size: 1em;
  }
}
#moi #moiTxt div h1 {
  font-family: "Righteous", cursive;
  color: #d48166;
}
#moi #moiTxt div ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  z-index: 1000;
}
@media (max-width: 767px) {
  #moi #moiTxt div ul {
    flex-direction: column;
  }
}
#moi #moiTxt div ul li {
  margin-right: 50px;
}
@media (max-width: 767px) {
  #moi #moiTxt div ul li {
    margin-top: 0.5em;
  }
}
#moi #moiTxt div ul li a {
  font-family: "Righteous", cursive;
  margin: 0;
  display: flex;
  align-items: center;
  color: black;
  font-weight: lighter;
  position: relative;
  font-size: 1.2em;
  font-weight: 800;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
#moi #moiTxt div ul li a i {
  margin: 0 0.5em;
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  color: black;
  overflow: hidden;
  background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}
#moi #moiTxt div ul li a:hover {
  color: #7da2a9;
  background-position: 0 100%;
  cursor: pointer;
}
#moi #moiTxt div ul li a:hover i {
  color: #7da2a9;
  animation: animLiens 0.5s ease infinite alternate-reverse;
  background-position: 0 100%;
}
#moi #cv {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
#moi #cv ul {
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: 0;
}
#moi #cv ul i {
  font-size: 1.5em !important;
}

#tri {
  z-index: 1000;
  display: flex;
  flex-flow: column;
  width: 80%;
  margin-bottom: 30px;
  font-family: "Nunito", sans-serif;
  color: #7da2a9;
  margin-left: 5px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #tri {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #tri {
    width: 100%;
  }
}
#tri .border {
  height: 5px;
  width: 40%;
  border-radius: 10px;
  background: #d48166;
  margin-top: 5px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #tri .border {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #tri .border {
    width: 100%;
  }
}
#tri ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #tri ul {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #tri ul {
    width: 100%;
    flex-flow: column;
    align-items: flex-start;
  }
}
#tri ul li {
  font-size: 1em;
  font-weight: 800;
}
@media (min-width: 1024px) {
  #tri ul li {
    position: relative;
    display: inline-block;
    color: black;
    overflow: hidden;
    background: linear-gradient(to right, #d48166, #d48166 50%, #7da2a9 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
  }
  #tri ul li:hover {
    color: #7da2a9;
    background-position: 0 100%;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  #tri ul li {
    padding-bottom: 5%;
    font-size: 1.2em;
  }
}
#tri ul .active {
  color: #d48166;
  font-size: 1em;
  font-weight: 800;
}
@media (min-width: 1024px) {
  #tri ul .active {
    position: relative;
    display: inline-block;
    color: #7da2a9;
    overflow: hidden;
    background: linear-gradient(to right, #7da2a9, #7da2a9 50%, #d48166 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: -100%;
    transition: background-position 275ms ease;
    text-decoration: none;
  }
  #tri ul .active:hover {
    background-position: 0 100%;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  #tri ul .active {
    padding-bottom: 5%;
    font-size: 1.2em;
  }
}

#boutonMobile {
  display: none;
  z-index: 1000;
  color: #7da2a9;
  transition: transform 0.5s ease;
  font-size: 3em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #boutonMobile {
    display: flex;
  }
}
@media (max-width: 767px) {
  #boutonMobile {
    display: flex;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.sidenav i {
  font-size: 3em;
  color: #7da2a9;
  margin-left: 10%;
}
.sidenav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  width: 100%;
  align-items: center;
  height: 40%;
  justify-content: space-around;
  font-family: "Righteous", cursive;
  z-index: 1000;
  flex-flow: column;
}
.sidenav ul a {
  font-size: 3em;
  font-weight: 800;
  color: #7da2a9;
}
.sidenav ul a:hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .sidenav ul a {
    font-size: 2em;
  }
}
.sidenav ul .active {
  font-size: 3em;
  font-weight: 800;
  color: #d48166;
}
.sidenav ul .active:hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .sidenav ul .active {
    font-size: 2em;
  }
}
.sidenav .linksFooter {
  flex-flow: row;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
}
.sidenav .linksFooter i {
  font-size: 1em;
  margin: 10px;
}

.canvas {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  height: -moz-fit-content;
  height: fit-content;
}
.canvas div {
  position: relative;
  width: 65%;
  height: 0;
  padding-top: 35%;
  padding-bottom: 25%;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .canvas div {
    width: 100%;
    padding-top: 100%;
  }
}
@media (max-width: 767px) {
  .canvas div {
    width: 100%;
    padding-top: 100%;
  }
}
.canvas div iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=style.css.map */